{:kotoba.app/latest "k51qzi5uqu5diepydqjicwbtaqc8fi64a4147dk8u5wjnjjkrhhkno2tz0yo1n", :kotoba.app/site-cid "bafybeifjdc4q5ev465js3gksvw7isu2ujmpdbexeloqf7j7fyitlyhtqum", :kotoba.app/id "cloud.itonami.app-live", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5diepydqjicwbtaqc8fi64a4147dk8u5wjnjjkrhhkno2tz0yo1n", :published {:own-nodes {:cid "bafybeifjdc4q5ev465js3gksvw7isu2ujmpdbexeloqf7j7fyitlyhtqum", :ipns "k51qzi5uqu5diepydqjicwbtaqc8fi64a4147dk8u5wjnjjkrhhkno2tz0yo1n", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T05:10:09Z"}}}
